<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div formGroupName="nombreCompleto">

    <div class="form-group row" [ngClass]="{'has-danger': !forma.get('nombreCompleto.nombre').valid}">
            <!-- [ngClass]="{'has-danger': !forma.get('nombre').valid}" -->
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre">

        <div *ngIf="forma.get('nombreCompleto.nombre').errors?.required" class="form-control-feedback">
            Este campo es requerido
        </div>
        <div *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength" class="form-control-feedback">
            Este campo es requiere por lo menos {{forma.controls['nombre'].errors.minlength.requiredLength}} caracteres.
        </div>
<!-- 
        <div *ngIf="forma.controls['nombre'].errors?.required" class="form-control-feedback">
            Este campo es requerido
        </div>
        <div *ngIf="forma.controls['nombre'].errors?.minlength" class="form-control-feedback">
            Este campo es requiere por lo menos {{forma.controls['nombre'].errors.minlength.requiredLength}} caracteres.
        </div> -->
    
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">


        <!-- <div *ngIf="forma.controls['apellido'].errors?.required" class="form-control-feedback">
            Este campo es requerido
        </div>
        <div *ngIf="forma.controls['apellido'].errors?.minlength" class="form-control-feedback">
            Este campo es requiere por lo menos {{forma.controls['nombre'].errors.minlength.requiredLength}} caracteres.
        </div> -->


      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo">

<!-- 
        <div *ngIf="forma.controls['correo'].errors?.required" class="form-control-feedback">
            Este campo es requerido
        </div>
        <div *ngIf="forma.controls['correo'].errors?.email" class="form-control-feedback">
            Escribelo en el formato correcto
        </div> -->


    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">User name</label>
    <div class="col-md-8">

      <input class="form-control"
             type="text"
             placeholder="Usuario"
             formControlName="username">

    </div>
  </div>





  <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">
    
          <input class="form-control"
                 type="password"
                 placeholder="Password"
                 formControlName="password1">
    
    <!-- 
            <div *ngIf="forma.controls['correo'].errors?.required" class="form-control-feedback">
                Este campo es requerido
            </div>
            <div *ngIf="forma.controls['correo'].errors?.email" class="form-control-feedback">
                Escribelo en el formato correcto
            </div> -->
    
    
        </div>
      </div>


      <div class="form-group row">
            <label class="col-2 col-form-label">Repetir Password</label>
            <div class="col-md-8">
        
              <input class="form-control"
                     type="password"
                     placeholder="Repetir Password"
                     formControlName="password2">
        
        <!-- 
                <div *ngIf="forma.controls['correo'].errors?.required" class="form-control-feedback">
                    Este campo es requerido
                </div>
                <div *ngIf="forma.controls['correo'].errors?.email" class="form-control-feedback">
                    Escribelo en el formato correcto
                </div> -->
        
        
            </div>
          </div>
    


    <div class="form-group row">
        <label class="col-2 col-form-label">pasatimepo</label>
        <div class="input-group col-md-8" formArrayName="pasatiempos">
            <input 
                *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls let i = index"
                type="text"
                class="form-control"
                [formControlName]="i">
        </div>

        <button (click)="agregarPasatiempo()" type="button" class="btn btn-primary" >
            Nuevo
        </button>
    </div>




  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  {{forma.valid}}
  <br>
  {{forma.status}}

</form>
